/* Global variables */
* {
    --gold: rgb(216, 166, 14)
}

/* Body: set background for area present at bottom on some screens */
body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* Header: full width of screen and 10% height */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-width: 100vw;
    border: 5px solid var(--gold);
    background-image: url(../images/header-background.jpg);
    background-position: 20px;
}

/* Nav Buttons Container */
.mybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Nav Buttons: sets styling including background */
header button {
    flex: 0;
    background-image: url(../images/button-bg.jpg);
    font-family: "Rye";
    font-size: 30px;
    font-weight: bolder;
    color: rgb(52, 32, 2);
    border-radius: 10px;
    min-width: 200px;
    height: 50px;
    border: 4px solid rgb(64, 40, 3);
}

/* Nav Button Animations */
header button:hover {
    cursor: pointer;
    position: relative;
    top: -5px;
    height: 60px;
    min-width: 220px;
    border-right: solid 3px black;
    border-bottom: solid 5px black;
    color: white
}

/* Title Container */
#title {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

/* Title */
h1 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 2px black;
    font-family: "Berkshire Swash";
    font-size: 50px;
}

main {
    display: flex;
    justify-items: center;
}

/* Background Container: sets container to 88vh to avoid scrolling on some devices */
#background {
    display: flex;
    flex: 100%;
    height: 88vh;
    background-image: url(../images/tavern.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    overflow: hidden;
}

/* Bernard img and dialogue container */
#bernard-box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

/* Bernard Img Container: clips to allow for desired positioning; align-items to try and fix iphone stretching */
#bernard-img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: clip;
}

/* Bernard img: max-height to fit */
#bernard-img img {
    position: relative;
    max-height: 100%;
    top: 5%;
}

/* Bernard's Dialogue */
#bernard-box p {
    text-align: center;
    background-color: white;
    font-family: "Gloria Hallelujah";
    font-size: 3vh;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px black;
    max-width: 200px;
    margin-top: 50px;
}

/* Game container: Display changed to flex when game starts; contains all game elements: timer, question, answers */
#game-box {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    padding: 15px;
}

/* Timer container */
.timer {
    display: flex;
    justify-content: center;
}

/* Timer on Screen: formatting */
#timer-display {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(173, 222, 244);
    font-family: "Gloria Hallelujah";
    font-size: 3vh;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px black;
    max-width: 200px;
    margin-bottom: 40px;
}

/* Question Container: contains questions and answers; display changed to flex on game start */
.question-box {
    display: none;
    align-content: center;
    justify-content: center;
    margin: 0px 10px 0px 10px; 
    background-color: rgb(91, 4, 112);
    font-family: "Gloria Hallelujah";
    text-align: center;
    font-size: 5vh; 
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px black;
}

/* Answer Container: container for list where answers will be appended*/
.answer-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    font-size: 3vh;
    padding-top: 20px;
    text-align: center;
    font-family: "Gloria Hallelujah";
    font-weight: 600;
    color: white;
}

/* Generated Answers: formatting for answers dynamically added */
.answer-box li {
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(59, 97, 64);
    border: ridge 5px var(--gold);
    box-shadow: 0px 0px 10px 5px rgb(19, 15, 15);
}

/* Generated Answers: hover animation state*/
.answer-box li:hover {
    cursor: pointer;
    background-color: rgb(104, 161, 112);
}

/* High Score Container: contains title and high score entry form */
#score-entry-container {
    display: none; 
    position: relative;
    flex-direction: column;
    height: 100%;
    align-items: center;
    top: 10vh;
    background-color: purple;
    max-height: 380px;
    box-shadow: 0px 0px 10px 5px black;
}

/* High Score Container Title */
h2 {
    text-align: center;
    font-family: "Rye";
    font-size: 4vh;
    color: white;
    padding: 20px;
    background-color: rgb(14, 14, 193);
    margin-bottom: 20px; 
    box-shadow: 0px 0px 10px 5px black;
    border: outset var(--gold); 
}

/* "Your Score" Container */
#your-score-container {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

/* High Score Container: "Your Score" text */
h3 {
    font-family: "Berkshire Swash";
    font-size: 40px;
    color: gold;
}

/* Game Score Text */
#your-score-container p {
    font-family: "Gloria Hallelujah";
    font-size: 50px;
    color: white;
    padding: 15px 0px 5px 0px;
}

/* High Score Entry Form Container */
#score-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Initials Input */
#score-input {
    font-size: 3vh;
    box-shadow: 0px 0px 5px 3px black;
    text-align: center;
}

/* Submit Score Button */
#submit-score-btn {
    font-size: 25px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: gold;
    border: outset 5px black;
}

/* Submit Score Button Hover State */
#submit-score-btn:hover {
    cursor: pointer;
}

/* High Score Container for High Scores Page */
#high-score-list-box {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
    background-color: purple;
    max-height: 50vh;
    box-shadow: 0px 0px 10px 5px black;
}

/* High Score Container: holds the ol that the high scores will be dynamically appended to */
#high-score-list-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 20px
}

/* High Scores list: ol to which scores will be dynamically appended */
#high-score-list{
    font-size: 30px;
    color: white;
    list-style-type: number;
}

/* High Scores: li's of high scores dynamically created*/
#high-score-list li {
    display: list-item;
}



@media screen and (max-width: 980px){

    /* Shrink background slightly */
    #background {
        height: 86vh;
    }

    /* Wrap header to make nav take up less space */
    header {
        flex-wrap: wrap;
        padding-bottom: 5px;
    }

    /* Shrink main title */
    h1 {
        font-size: 40px;
    }
    
    /* Prevent title container from shrinking; keep to full length */
    #title {
        flex: 1 0 100%;
        padding-bottom: 10px;
    }

    /* Shrink buttons to make fit in smaller nav */
    header button {
        font-size: 20px;
        min-width: 150px;
        height: 40px;
        margin: 0px;
        padding: 0px;
    }

    /* Prevent buttons from growing in size as in original hover state */
    header button:hover {
        cursor: pointer;
        position: relative;
        top: 0px;
        height: 40px;
        min-width: 150px;
    }

    /* Align play btn container to bottom */
    .play-btn-box {
        align-self: end;
    }

    /* Align high scores btn container to bottom */
    .score-btn-box{
        justify-self: end;
    }

    /* Shrink question font */
    .question-box {
        font-size: 3vh;
        line-height: 4vh;
    }

    /* Remove padding to save space for */
    .answer-box {
        padding-top: 0px;
    }
    
    /* Decrease margins */
    #timer-display {
        margin-bottom: 20px;
        margin-top: 0px;
    }

    /* Shrink padding and margins on answers */
    .answer-box li {
        padding: 10px;
        margin-top: 30px;
    }

    /* Shrink font of high scores */
    #high-score-list {
        font-size: 3.5vh;
    }

}